# Core functionality - changes here should be rare!
/src/app.py                   @midasbar
/src/backend/database.py      @midasbar
/src/backend/routers/auth.py  @midasbar

# The frontend will need refactored soon to be more object oriented.
/src/static/   @midasbar
